.spacer{
    flex: 1 1 auto;
}
a,button{
    text-decoration: none;
    color: #fff;
}
.color-toolbar{
    background-color: #0AA1DD;
    /*background-color: #42C2FF;*/
}
.notif-icon{
  color: black;
}

