
<h2 mat-dialog-title>{{data?.title}}</h2>
<mat-dialog-content>
    <div class="modal-form">
        <form [formGroup]="productoForm" >



            <mat-form-field class="full-width-input-medio">
                <input formControlName="nombre" matInput placeholder="Nombre" oninput="this.value=this.value.toUpperCase()"  required/>
                <mat-error *ngIf="checkFieldProducto('nombre')">
                    {{getErrorMessageProducto('nombre')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input-medio">
                <input formControlName="descripcion" matInput placeholder="Descripcion" oninput="this.value=this.value.toUpperCase()"  required/>
                <mat-error *ngIf="checkFieldProducto('descripcion')">
                    {{getErrorMessageProducto('descripcion')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <input formControlName="stock" matInput placeholder="Stock"   required/>
                <mat-error *ngIf="checkFieldProducto('stock')">
                    {{getErrorMessageProducto('stock')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <input formControlName="minimo" matInput placeholder="Mínimo"   required/>
                <mat-error *ngIf="checkFieldProducto('minimo')">
                    {{getErrorMessageProducto('minimo')}}
                </mat-error>
            </mat-form-field>

            <!--<mat-form-field class="full-width-input">
                <input formControlName="maximo" matInput placeholder="Máximo"   required/>
                <mat-error *ngIf="checkFieldProducto('maximo')">
                    {{getErrorMessageProducto('maximo')}}
                </mat-error>
            </mat-form-field>-->

        <!--  <mat-form-field class="full-width-input">
                <input formControlName="vencimiento" matInput placeholder="Vencimiento"   required/>
                <mat-error *ngIf="checkFieldProducto('vencimiento')">
                    {{getErrorMessageProducto('vencimiento')}}
                </mat-error>
            </mat-form-field> -->
            <mat-form-field class="full-width-input">

                <input formControlName="vencimiento" matInput placeholder="Elija fecha de vencimiento" [matDatepicker]="picker" [min]="minDate" disabled  required/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
                <mat-error *ngIf="checkFieldProducto('vencimiento')">
                    {{getErrorMessageProducto('vencimiento')}}
                </mat-error>
            </mat-form-field>


            <mat-form-field class="full-width-input">
                <input formControlName="precio" matInput placeholder="Precio venta"   required/>
                <mat-error *ngIf="checkFieldProducto('precio')">
                    {{getErrorMessageProducto('precio')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <mat-label>Seleccione disponible</mat-label>
                <mat-select formControlName="disponible"   required>
                    <mat-option value="SI">SI</mat-option>
                    <mat-option value="NO">NO</mat-option>
                </mat-select>
                <mat-error *ngIf="checkFieldProducto('disponible')">
                    {{getErrorMessageProducto('disponible')}}
                </mat-error>
            </mat-form-field>



            <mat-form-field class="full-width-input">
                <input formControlName="peso" matInput placeholder="Peso"   required/>
                <mat-error *ngIf="checkFieldProducto('peso')">
                    {{getErrorMessageProducto('peso')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                    <mat-label>Seleccione categoría</mat-label>
                        <mat-select formControlName="categoria"  required>

                            <mat-option *ngFor="let cate of myCategoria" [value]="cate.idcategoria">{{cate.nombre}}</mat-option>

                        </mat-select>
                    <mat-error *ngIf="checkFieldProducto('categoria')">
                        {{getErrorMessageProducto('categoria')}}
                    </mat-error>

            </mat-form-field>



        </form>
    </div>
      <div class="modal-form">
        <form [formGroup]="compraForm" >

            <mat-form-field class="full-width-input">
                <input formControlName="precio_compra_uni" matInput placeholder="Precio compra unidad"   required/>
                <mat-error *ngIf="checkFieldCompras('precio_compra_uni')">
                    {{getErrorMessageCompras('precio_compra_uni')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <input formControlName="precio_compra_total" matInput placeholder="Precio compra total"   required/>
                <mat-error *ngIf="checkFieldCompras('precio_compra_total')">
                    {{getErrorMessageCompras('precio_compra_total')}}
                </mat-error>
            </mat-form-field>

            <!--<mat-form-field class="full-width-input">
                <input formControlName="tipo_comprobante" matInput placeholder="Tipo comprobante"   required/>
                <mat-error *ngIf="checkFieldCompras('tipo_comprobante')">
                    {{getErrorMessageCompras('tipo_comprobante')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <input formControlName="num_comprobante" matInput placeholder="Número comprobante"   required/>
                <mat-error *ngIf="checkFieldCompras('num_comprobante')">
                    {{getErrorMessageCompras('num_comprobante')}}
                </mat-error>
            </mat-form-field>-->

            <mat-form-field class="full-width-input">
                <input formControlName="cantidad_ingreso" matInput placeholder="Cantidad ingreso"   required/>
                <mat-error *ngIf="checkFieldCompras('cantidad_ingreso')">
                    {{getErrorMessageCompras('cantidad_ingreso')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <input formControlName="observacion" matInput placeholder="Observación" oninput="this.value=this.value.toUpperCase()"   required/>
                <mat-error *ngIf="checkFieldCompras('observacion')">
                    {{getErrorMessageCompras('observacion')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                    <mat-label>Seleccione proveedor</mat-label>
                        <mat-select formControlName="proveedor"  required>

                            <mat-option *ngFor="let provee of myProveedor" [value]="provee.idproveedor">{{provee.nombre}}</mat-option>

                        </mat-select>
                    <mat-error *ngIf="checkFieldCompras('proveedor')">
                        {{getErrorMessageCompras('proveedor')}}
                    </mat-error>

            </mat-form-field>

        </form>
    </div>
     <div class="modal-form">
        <form [formGroup]="unidadProductoForm" >

            <mat-form-field class="full-width-input-unidad">
                <mat-label>Seleccione unidad</mat-label>
                <mat-select formControlName="valor"  class="unidadProducto"  required>
                    <mat-option value="Kg">Kg</mat-option>
                    <mat-option value="l">l</mat-option>
                    <mat-option value="g">g</mat-option>
                    <mat-option value="ml">ml</mat-option>
                    <mat-option value="lb">lb</mat-option>
                </mat-select>

                <mat-error *ngIf="checkFieldUnidadproducto('valor')">
                    {{getErrorMessageUnidadproducto('valor')}}
                </mat-error>
            </mat-form-field>



        </form>
    </div>
    <div class="modal-form">
        <form [formGroup]="imgProductoForm">
            <div class="container-input-file">
                <mat-card>
                    <div class="header-image">
                            <mat-card-header>Inserta imagen</mat-card-header>
                    </div>
                    <mat-card-content class="content-image" *ngIf="URL; then editarProducto; else crearNuevoProducto "  >
                    </mat-card-content>
                </mat-card>

                <ng-template #crearNuevoProducto>
                    <input type="file" formControlName="file" accept="image/*" (change)="seleccionarImagen($event)" #imageInput/>
                    <img  [src]=" imagenSelect || 'assets/image.png' " class="img-fluid" alt="No Image" (click)="imageInput.click()"/>
                </ng-template>

                <ng-template #editarProducto>
                    <input type="file" formControlName="file" accept="image/*" (change)="seleccionarImagen($event)" #imageInput/>
                    <img  [src]=" imagenSelect || URL " class="img-fluid" alt="No Image" (click)="imageInput.click()"/>

                </ng-template>

            </div>

        </form>
    </div>




</mat-dialog-content>

<!--{{userForm.status}} status-->

<mat-dialog-actions *ngIf="URL; then editarProductos;else crearNewProductoss">

</mat-dialog-actions>

<ng-template #crearNewProductoss class="btn-actions">
    <button mat-button mat-dialog-close class="btn-actionsCancel">Cancelar</button>
    <button
    mat-raised-button
    [mat-dialog-close]="true"
    color="primary"
    (click)="onSave()"
    ckdFocusInitial
    [disabled]="!productoForm.valid || !imgProductoForm.valid || !unidadProductoForm || !compraForm"
    class="btn-actionsSave"
    >Guardar</button>
</ng-template>


<ng-template #editarProductos class="btn-actions">
    <button mat-button mat-dialog-close class="btn-actionsCancel">Cancelar</button>
    <button
    mat-raised-button
    [mat-dialog-close]="true"
    color="primary"
    (click)="onSave()"
    ckdFocusInitial
    [disabled]="!productoForm.get('nombre').value
                  || !productoForm.get('descripcion').value
                  || !productoForm.get('stock').value
                  || !productoForm.get('minimo').value
                       || !productoForm.get('vencimiento').value
                  || !productoForm.get('precio').value
                  || !productoForm.get('disponible').value
                  || !productoForm.get('peso').value

                  || !productoForm.get('categoria').value

                  ||  !unidadProductoForm.valid
                  || !compraForm.valid"
     class="btn-actionsSave"

    >Guardar</button>
</ng-template>
